@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
/* line 5, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Fon */
/* line 6, ../sass/login.scss */
body {
  font-family: raleway, verdana, arial;
  display: flex;
  align-items: center;
  height: 100vh;
  color: white;
  background: #e0f7fa;
}
/* line 15, ../sass/login.scss */
body .box {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -moz-border-radius: 2.5vw;
  -webkit-border-radius: 2.5vw;
  border-radius: 2.5vw;
  height: 350px;
  width: 400px;
  background-color: #00BDD6;
  -moz-box-shadow: #c9c9c9 3px 5px 7px;
  -webkit-box-shadow: #c9c9c9 3px 5px 7px;
  box-shadow: #c9c9c9 3px 5px 7px;
}
/* line 31, ../sass/login.scss */
body .box img {
  width: 61.8%;
  position: relative;
  bottom: 0.618%;
}
/* line 37, ../sass/login.scss */
body .box .login {
  width: 64.8%;
  height: 32.8%;
  padding: 20px;
}
/* line 43, ../sass/login.scss */
body .box .login form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 1.618%;
}
/* line 51, ../sass/login.scss */
body .box .login form .field:last-child {
  position: relative;
  top: 0.618em;
}
/* line 56, ../sass/login.scss */
body .box .login form .field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 63, ../sass/login.scss */
body .box .login form .field .mostrar {
  display: flex;
  -webkit-justify-content: initial;
  justify-content: initial;
  align-items: center;
}
/* line 69, ../sass/login.scss */
body .box .login form .field input[type='checkbox'] {
  margin-left: 0;
}
/* line 73, ../sass/login.scss */
body .box .login form .field input[type='text'], body .box .login form .field input[type='password'] {
  border-radius: 5px;
  height: 21px;
  border: none;
}
/* line 79, ../sass/login.scss */
body .box .login form .field input[type='submit'] {
  width: 27%;
  align-self: flex-end;
  border: none;
  background: #00838F;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2.618%;
  color: white;
  font-family: raleway;
  font-weight: 600;
  border-radius: 5px;
  height: 21px;
  border: none;
  height: 2.3em;
}
